@model System.Collections.Generic.IList<FacebookMessenger.Models.Message>

<!DOCTYPE html>

<html>
<head>
    <title>Messages</title>
</head>
<body>
<div>
      @foreach (var message in Model)
      {
          <div>
              <h1>@message.SenderId</h1>
              <p>@message.Text</p>
          </div>
      }
</div>
</body>
</html>